<%include ../partials/header%>
 
  <div class="container" style="margin-top:70px;">
    <div class="ui segment">
     
        
      <br>
      <table class="ui padded table">
        <thead>
          <tr>
              <th>BOOK NAME</th>
              <th>ID NO</th>
              <th>NAME</th>
              <th>BORROW DATE</th>
              <th>EX RET DATE</th>
              <th>AC RET DATE</th>
              <th>FINE</th>
              <th></th>
  
          </tr>
        </thead>
        <tbody>
                <% book.forEach(function(st){ %>
                    <tr>
                         <td><%= st.bookRef1.Book_name %></td>
                        <td><%= st.Identification_no %></td>
                        <% if(st.InTheHandsOfStudent === undefined) {%>
                          <td><%= st.InTheHandsOfTeacher.Fa_name %></td>
                         <% }else{ %>
  
                          <td><%= st.InTheHandsOfStudent.St_name %></td>
                          <% } %>
                        <td><%= st.Date_when_borrowed.getDate()%>/<%=st.Date_when_borrowed.getMonth()%>/<%=st.Date_when_borrowed.getFullYear()%> %></td>
                        <td><%= st.Expected_return_date.getDate()%>/<%=st.Expected_return_date.getMonth()%>/<%=st.Expected_return_date.getFullYear()%> %></td>
                        <td><%= st.Actual_return_date.getDate()%>/<%=st.Actual_return_date.getMonth()%>/<%=st.Actual_return_date.getFullYear()%> %></td>
                        <td class='<%if(st.Fine==0){%>ui centered medium green header<%}else{%> ui centered large red header<%}%>'><%= st.Fine%> Rs</td>
                        <td><a href="/showBookDetails/<%=st.bookRef1._id%>/<%=st.bookRef2%>" class="ui green button">View more details</a><br><br> </td>
                    </tr>
                      <% }) %>
          
        </tbody>
      </table>
    </div>

  </div>
  <%include ../partials/footer%>