<%include ../partials/header%>

<div style='margin-top:70px'></div>

      <div style="padding:20px;">
            <img style="float:left;" width="40%" height="600px" src="<%=book1.Image%>" alt="" srcset="">
            <div style="padding:20px; background:white;width:60%; float:right; height:600px;" id="details1">
                <div class="ui column">
                    <div class="ui fluid card">
                <div class="ui content" >
                  <h1 style="text-align:center"><%=book1.Book_name%></h1>
                  <span class=" ui large header">ISBN:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <%=book1.ISBN%></span>
                  <span class=" ui large header">Subject_name:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<%=book1.Subject_name%>  </span>
                  <span class=" ui large header">Book_edition:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<%=book1.Book_edition%> </span>
                  <span class=" ui large header">Author_name:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<%=book1.Author_name%> </span>
                  <span class=" ui large header">Publisher_name:&ensp;&ensp;&ensp;&ensp;<%=book1.Publisher_name%> </span>
                  <span class=" ui large header">Price:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <%=book1.Price%></span>
                  <span class=" ui large header">Subject_id: &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; &ensp;<%=books[0].Subject_id%></span>
                  <span class=" ui large header">Rack_id:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <%=books[0].Rack_id%></span>
                </div></div>
            </div>
            </div>
            <div style="clear:both;"></div>

            <div style="width:100%; margin-top:20px">
            <div class="ui four column grid">
               <%books.forEach(tuple=>{%> 
                <div  class="ui column">
                  <div class="ui fluid card">
                    <div style="background-color:lightblue;color:white" class="ui content">
                      <span class=" ui medium header">Identification:&ensp;&ensp;&ensp;&ensp; <%=tuple.Identification_no%></span>
                      <span class=" ui medium header">Book_id:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <%=tuple.Book_id%></span>
                      <span class=" ui medium header">Date_bought:&ensp;&ensp;&ensp;&ensp; <%=tuple.Date_first_inside_lib.getDate()%> / <%=tuple.Date_first_inside_lib.getMonth()+1%> / <%=tuple.Date_first_inside_lib.getFullYear()%></span>
                      <span class=" ui medium header">In_status:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <%if(tuple.In_status==0){%>Borrowed<%}else if(tuple.In_status==1){%>Available<%}else{%> lost<%}%></span>
                      
                    </div>
                  </div>
                </div>
                <%})%>
              </div>
            </div>
            <!-- stats -->
            <div  style="width:100%; ;margin:0 0px;;margin-top: 10px; padding:10px; text-align: center" class="ui inverted segment">
                <div class="ui four statistics">
                <div class="ui inverted statistic">
                  <div class="value">
                        <i class="heart outline sign icon"></i>  <%=book1.No_books_bought%>
                  </div>
                  <div class="label">
                       #BOOKS BOUGHT
                  </div>
                </div>
                <div class="ui red inverted statistic">
                  <div class="value">
                        <i class="smile outline sign icon"></i><%=book1.No_books_present%>
                  </div>
                  <div class="label">
                    #BOOKS PRESENT TOTALLY
                  </div>
                </div>
                <div class="ui orange inverted statistic">
                  <div class="value">
                        <i class="exclamation sign icon"></i> <%=book1.No_books_lost%>
                  </div>
                  <div class="label">
                    #BOOKS LOST
                  </div>
                </div><p></p><p></p>
                <div class="ui yellow inverted statistic">
                  <div class="value">
                        <i class="eye icon"></i> <%=book1.No_books_inside_library%>
                  </div>
                  <div class="label">
                    #BOOKS INSIDE LIBRARY
                  </div>
                </div>
                <div class="ui olive inverted statistic">
                  <div class="value">
                        <i class="eye slash sign icon"></i> <%=book1.No_books_borrowed%>
                  </div>
                  <div class="label">
                    #BOOKS BORROWED
                  </div>
                </div>
                <div class="ui  green inverted statistic">
                    <div class="value">
                            <i class="flag outline sign icon"></i><%=book1.No_times_book_borrowed%>
                    </div>
                    <div class="label">
                      #TIMES BOOK TAKEN
                    </div>
                  </div>
                  
            
              
                
            </div>
              </div>
      </div>
      
</body>