<%include ../partials/header%>





<!-- GET ROLL_NUMBER -> BOOK DETAILS -->
    <div style="margin:10px auto; text-align: center">
        <div class="ui massive breadcrumb">
            <button style="padding:10px" class="section ui inverted blue button huge disabled">Get Roll_Number</button>
            <i class="right chevron icon divider"></i>
            <button style="padding:10px" class="section ui  red button huge ">Book Details</button>
        </div>

    </div>



<!-- DETAILS OF STUDENT -->
    <div style="width:400px; margin-bottom: 40px;" class="ui centered card">
        <div class="image">
            <img src="https://images.all-free-download.com/images/graphiclarge/student_and_education_logo_free_download_6820451.jpg">
        </div>
        <div class="content ui inverted">
            <h3 class=" ui centered huge blue header"><%= st.St_name %></h3>
            <span class=" ui medium black header">Roll Number:&ensp;&ensp;&ensp;&ensp;<%= st.Roll_no %></span>
            <span class=" ui medium black header">Email
                Id:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<%= st.St_email %></span>
            <span class=" ui medium black header">Phone Number:&ensp;&ensp;<%= st.St_phone_no %></span>
        </div>
    </div>



  <!-- SEARCH BOOK BAR -->
    <% if(st.BorrowedBooks.length==5){ %>
        <form autocomplete="off" action="/digiIssuer/issue/<%=st._id%>"method ="POST">

            <div style="border:3px solid black;  background: linear-gradient(to right,#68c1d1  0%,#e4675f  100%);" class="ui black segment">
                    <h1 class="ui huge centered  header"> ISSUE BOOKS</h1>
                    <div style=" width:60%; margin:0 auto;" class="ui inverted form">
                      <div class="two fields">
                        <div style="width:100%"  class=" ui centered field">
                                <div class="ui action input">
                                        <!-- <input type="text" placeholder="Search..."> -->
                                        <div style="width:100%"  class="ui form">
                                                <div class="field">
                                                <input readonly="readonly" style="width:100%;" list="identification_numbers" placeholder="identification number"  name="unique_id" />
                                                  <datalist  id="identification_numbers">
                                                  </datalist>
                                                </div>
                                              </div>
                                        <span class="ui button large red">5 books Taken</span>
                                </div>
                        </div>
                      </div>
                    </div>
        </div>
    </form>
    <%}else{%>
        <form autocomplete="off" action="/digiIssuer/issue/<%=st._id%>"method ="POST">

            <div style="border:3px solid black;  background: linear-gradient(to right,#68c1d1  0%,#e4675f  100%);" class="ui black segment">
                    <h1 class="ui huge centered  header"> ISSUE BOOKS</h1>
                    <div style=" width:60%; margin:0 auto;" class="ui inverted form">
                      <div class="two fields">
                        <div style="width:100%"  class=" ui centered field">
                                <div class="ui action input">
                                        <!-- <input type="text" placeholder="Search..."> -->
                                        <div style="width:100%"  class="ui form">
                                                <div class="field">
                                                <input style="width:100%;" list="identification_numbers" placeholder="identification number"  name="unique_id" />
                                                  <datalist  id="identification_numbers">
                                                                            
                                                     <% books.forEach(function(book){ %> 
                                                    <option value="<%=book.Identification_no%>"><%=book.Identification_no%></option>  
                                                     <%}) %>  
                                                  </datalist>
                                                </div>
                                              </div>
                                        <button type="sumbit" class="ui button large violet">Search</button>
                                </div>
                        </div>
                      </div>
                    </div>
        </div>
    </form>
    <%}%>

    


    <!-- DISPLAYING THE BOOK THAT WAS SEARCHED -->
    <div style="width:400px; margin-bottom: 40px;" class="ui centered card">
        <div class="image">
            <img style="height:400px" src="<% if (step != 2 && step != 3){ %> https://cdn4.vectorstock.com/i/1000x1000/71/28/logo-girl-reading-a-book-vector-4227128.jpg <%}else{%> <%=bookref1.Image%>   <%}%>" alt="">
        </div>
        <div class="content ui inverted">
            <h3 class=" ui centered huge blue header"><% if (step != 2 && step != 3){ %>Book Name<%}else{%> <%=bookref1.Book_name %>  <%}%></h3> 
            <span class=" ui medium black header">ISBN: &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<% if (step != 2 && step != 3){ %>Book_ISBN <%}else{%> <%=bookref2.ISBN%>   <%}%></span>
            <span class=" ui medium black header">Unique ID:&ensp;&ensp;<% if (step != 2 && step != 3){ %>Book_ISBN <%}else{%> <%=bookref2.Identification_no%>   <%}%></span>
            <span class=" ui medium black header">Book_id: &ensp;&ensp;&ensp;<% if (step != 2 && step != 3){ %>Book_ID<%}else{%> <%= bookref2.Book_id %> <%}%></span>
            <span class=" ui medium black header">Author: &ensp;&ensp;&ensp;&ensp;<% if (step != 2 && step != 3){ %>Book_Author<%}else{%> <%=bookref1.Author_name %>  <%}%></span>
            <span class=" ui medium black header">Publisher: &ensp;&ensp;<% if (step != 2 && step != 3){ %>Book_Publisher<%}else{%> <%=bookref1.Publisher_name %>  <%}%></span>
        </div>
        <% if (step != 3){ %>
        <form style='text-align: center;' <% if (step == 2){ %>  action="/digiIssuer/issue/<%=st._id%>/<%=bookref1._id%>/<%=bookref2._id%>" method="post"  <%}%>  >
                <button style="margin:0 auto; width: 100%;" type="submit" class=" <% if (step != 2){ %>disabled <%}%> ui centered button large violet">Issue</button>
        </form>
        <%}else{%>
        <button style="margin:0 auto; width: 100%;" type="submit" class=" disabled ui centered button large red">Already Taken</button>
        <%}%>
    </div>

    

<!-- BOOKS TAKEN -->
    <div style="   width:70%; margin: 80px auto;">
        <h1 class="ui huge centered  header">BOOKS TAKEN</h1>
        <div class="cards">
            <div class="ui two column grid">
                <% if( st.BorrowedBooks.length == 0){ %>
               
                <div class="column">
                    <div class="ui centered fluid card lol">
                        <div class="image">
                            <img style="height:400px;" src="http://codex.cs.yale.edu/avi/os-book/OSE1/images/os8e-cover.jpg">
                        </div>
                        <div class="content">
                            <a class="header">No Book Borrowed</a>
                            <p></p>
                            <div style="margin:10px auto; text-align:center;" class="ui buttons">
                                <form action="">
                                    <button class="ui inverted green button disabled">Return</button>
                                </form>

                                <form action="">
                                    <button class="ui blue inverted button disabled">ReIssue</button>
                                </form>

                                <form action="">
                                    <button class="ui red inverted button disabled">LostIt</button>
                                </form>
                                <form action="">
                                    <button class="ui purple inverted button disabled">Details</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              
                <%} else { var j=0%>
                    <%st.BorrowedBooks.forEach(function(book){%>
                        <div class="column">
                                <div style="height:820px" class="ui fluid card">
                                    <div class="image">
                                           
                                        <img style="height:400px;" src="<%=st.BorrowedBooks1[j].Image%>">
                                    </div>
                                    <div class="content">
                                        <h3 class=" ui centered huge blue header"><%=st.BorrowedBooks1[j].Book_name%></h3> 
                                        <span class=" ui medium black header">ISBN:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<%=book.ISBN%></span>
                                        <span class=" ui medium black header">Unique ID:&ensp;&ensp;&ensp;<%=book.Identification_no%></span>
                                        <span class=" ui medium black header">Book_id: &ensp;&ensp;&ensp;&ensp;<%=book.Book_id%></span>
                                        <span class=" ui medium black header">Author:&ensp;&ensp;&ensp;&ensp;&ensp;<%=st.BorrowedBooks1[j].Author_name%></span>
                                        <span class=" ui medium black header">Publisher:&ensp;&ensp;&ensp;<%=st.BorrowedBooks1[j].Publisher_name%></span>
                                        <span <%if(book.Fine>0){%>style="color:red;"<%}else{%>style="color:green;"<%}%> class=" ui medium black header">Fine:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<%=book.Fine%> Rs</span>
                                        <p></p>
                                        <div style="margin:10px auto; text-align:center;" class="ui buttons">
                                            <form method="post" action="/digiIssuer/return/<%=st._id%>/<%=st.BorrowedBooks1[j]._id%>/<%=book._id%>">
                                                <button class="ui inverted green button">Return</button>
                                            </form>
            
                                            <form method="post" action="/digiIssuer/reissue/<%=st._id%>/<%=st.BorrowedBooks1[j]._id%>/<%=book._id%>">
                                                <button type="submit" class="ui blue inverted button ">ReIssue</button>
                                            </form>
            
                                            <form method="post" action="/digiIssuer/lost/<%=st._id%>/<%=st.BorrowedBooks1[j]._id%>/<%=book._id%>">
                                                <button class="ui red inverted button">LostIt</button>
                                            </form>
                                            <form method="post" action="/digiIssuer/showBook/<%=st.BorrowedBooks1[j++]._id%>">
                                                <button class="ui purple inverted button">Details</button>
                                            </form>
                                        </div><p></p>
                                       
                                    </div>
                                </div>
                            </div>
                    <%})%>
                <%}%>
            </div>

        </div>
    </div>



   




</body>







              



<script>
//    $('#dd').dropdown({
//     apiSettings: {
//         cache: false
//     }
// });

   
</script>

</html>

