<%include ../partials/header%>

    <div class="container" style="margin-top:70px;">
        <div class="ui segment">
            <form action="/teacherdetails"method="POST">
            <h3 class="ui header">SEARCH USING NAME/ FACULTY NO/ EMAIL-ID</h3>
            <h3 class="ui header">NAME</h3>
            <div class="ui icon input" style="width:100%;">
                <input type="text" placeholder="Search..."name="Fa_name">
                <i class="search icon"></i>
            </div>
            <br>
            <h3 class="ui header">FACULTY NO</h3>
            <div class="ui icon input" style="width:100%;">
                <input type="text" placeholder="Search..."name="id">
                <i class="search icon"></i>
            </div>
            <br>
            <h3 class="ui header">EMAIL ID</h3>
            <br>
            <div class="ui icon input" style="width:100%;">
                <input type="text" placeholder="Search..."name="email">
                <i class="search icon"></i>
            </div>
            <br>
            <br>
            <button class="ui button">SUBMIT</button>
        </form>
            <div class="ui section divider"></div>
            <br>
            <table class="ui padded table">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>FACULTY NO</th>
                        <th>EMAIL ID</th>
                        <th>PHONE </th>
                        <th>      </th>
                    </tr>
                </thead>
                <tbody>
                        <% teacher.forEach(function(st){ %>
                    <tr>
                        <td><%= st.Fa_name %></td>
                        <td><%= st.Faculty_no %></td>
                        <td><%= st.Fa_email %></td>
                        <td><%= st.Fa_phone_no %></td>
                        <td><a href="/teacherdetails/<%= st._id %>" class="ui green button">View more details</a><br><br> </td>
                    </tr>
                      <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    </div>
    <%include ../partials/footer%>